body {
    font-family: 'Lato', sans-serif, 'Spoqa Han Sans', 'Sans-serif';
    font-weight: 100;
    text-transform: uppercase;
    height: 100%;
    background-color: #f7f7f7;
    margin: 0;
    color: #fff;
    letter-spacing: 0.1em;
    position: relative;
}

body, html {
    height: 100%;
}

.hidesScrollBar {
    overflow: hidden;
}

/*------------normalize------------*/

li {
    list-style: none;
}

address {
    font-style: normal;
}

a {
    color: inherit;
    text-decoration: none;
}

p {
    margin: 0;
}

/*------center align------*/

.container {
    height: 100%;
    margin: 0 auto;
    background-color: #fff;
}

/*------------font size------------*/

.j-title {
    font-size: 18px;
    line-height: 39px;
    font-weight: 300;
    letter-spacing: 0.1em;
}

.j-title-korean {
    font-size: 30px;
    font-weight: 100;
    letter-spacing: -0.005em;
}

.j-body-strong {
    font-weight: 400;
    letter-spacing: 1px;
}

.j-body-korean a {
    padding-bottom: 2px;
    border-bottom: 2px solid #f7966f;
}

.j-body-korean a:hover {
    color: #f7966f;
    transition: all 0.2s ease-in-out;
}

.j-body-korean {
    font-size: 20px;
    line-height: 1.9em;
    color: #858585;
    font-weight: 200;
    letter-spacing: 0;
}

.j-project-text p.j-title-korean {
    font-size: 21px;
    margin-bottom: 30px;
}

.j-info>.j-title-korean {
    font-size: 21px;
    font-weight: 100;
}


/*------------icon--------------*/

.j-icon-arrow-left {
    background-image: url('asset/arrow_left.png');
    width: 40px;
    height: 40px;
}


.j-icon-arrow-right {
    background-image: url('asset/arrow_right.png');
    width: 40px;
    height: 40px;
}


.j-icon-project {
    background-image: url('asset/i_project.png');
    width: 32px;
    height: 32px;
}

.j-icon-mail {
    background-image: url('asset/i_mail.png');
    width: 32px;
    height: 26px;
}

/*.j-icon-blog {*/
    /*background-image: url('asset/i_blog.png');*/
    /*width: 32px;*/
    /*height: 30px;*/
/*}*/

/*.j-icon-about {*/
    /*background-image: url('asset/i_about.png');*/
    /*width: 30px;*/
    /*height: 32px;*/
/*}*/

/*.j-icon-facebook {*/
    /*background-image: url('asset/i_facebook.png');*/
    /*width: 18px;*/
    /*height: 18px;*/
/*}*/

/*.j-icon-insta {*/
    /*background-image: url('asset/i_instagram.png');*/
    /*width: 18px;*/
    /*height: 18px;*/
/*}*/

/*.j-icon-behance {*/
    /*background-image: url('asset/i_behance.png');*/
    /*width: 18px;*/
    /*height: 18px;*/
/*}*/

/*------------side menu------------*/

/*.j-side-menu .j-flex .j-menues .icon {*/
    /*margin-right: 12px;*/
/*}*/

/*.j-side-menu .j-flex .j-menu-snss .icon {*/
    /*margin-right: 9px;*/
/*}*/

.j-side-menu .j-flex {
text-align: center;
}


.j-side-menu {
    z-index: 1;
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ff976e;
    opacity: 0.95;
}

.j-menues {
    line-height: 56px;
    font-size: 36px;
    margin-bottom: 20px;
}

.j-menu-sns {
    font-size: 20px;
    line-height: 38px;
}

.j-menu-project,
.j-menu-blog,
.j-menu-about {
    cursor: pointer;
}

.j-side-menu .j-flex .j-menu-snss {
    margin-bottom: 20px;
}

.j-side-menu a {
    -webkit-transition: 0.2s;
    transition: 0.2s;
    display: block;
}

.j-side-menu a:hover {
    -webkit-transition: 0.2s;
    transition: 0.2s;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    display: block;
}

/*------------header------------*/

header {
    height: 240px;
    padding: 4%;
    box-sizing: border-box;
}

.icon {
    display: inline-block;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.j-menu {
    float: left;
    background-image: url('asset/j-menu.svg');
    width: 24px;
    height: 20px;
    cursor: pointer;
    position: relative;
    z-index: 2;
}

.j-menu-svg {
    transition: 0.1s;
    -webkit-transition: 0.1s;
    cursor: pointer;
}

g.j-menu-f {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    transition: 0.1s;
    -webkit-transition: 0.1s;
}

g.j-menu-s {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    transition: 0.1s;
    -webkit-transition: 0.1s;
}

.j-menu-svg:hover g.j-menu-f {
    transform: translateY(-2px);
    -webkit-transform: translateY(-2px);
    transition: 0.1s;
    -webkit-transition: 0.1s;
}

.j-menu-svg:hover g.j-menu-s {
    transform: translateY(2px);
    -webkit-transform: translateY(2px);
    transition: 0.1s;
    -webkit-transition: 0.1s;
}

.x  {
    background-image: url('asset/j-menu_fff.svg');
    width: 24px;
    height: 20px;
    /*z-index: 1;*/
    /*position: relative;*/
}

.j-logo {
    float: right;
    background-image: url('asset/j-logo.svg');
    width: 86px;
    height: 84px;
}

/*------------project thumbnail------------*/

section {
    width: 100%;
    background-color: #fff;
}

img {
    width: 100%;
    vertical-align: top;
}

.j-project {
    padding: 0;
    margin: 0;
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}

.j-thumbnail {
    position: relative;
    width: 50%;
    /*box-sizing: border-box;*/
    /*padding-top: 4px;*/
}

/*.j-thumbnail:nth-child(2n+1){*/
    /*padding-right: 2px;*/
/*}*/

/*.j-thumbnail:nth-child(2n) {*/
    /*padding-left: 2px;*/
/*}*/

/*.j-thumbnail:nth-child(3n) {*/
    /*width: 100%;*/
/*}*/

.j-about {
    position: relative;
    width: 100%;
}

.j-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
}

.j-hover-title {
    margin-bottom: 10px;
    opacity: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    font-weight: 400;
}

.j-hover-contents {
    margin-bottom: 20px;
    opacity: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.button {
    display: inline-block;
    width: 182px;
    height: 45px;
    border-radius: 6px;
    border: 2px solid #fff;
    opacity: 0;
    -webkit-transition: all 0.15s;
    transition: all 0.15s;
    font-weight: 400;
    text-align: left;
}

.button:hover .j-icon-arrow {
    margin-left: 12px;
    -webkit-transition: all 0.15s;
    transition: all 0.15s;
    background: url('asset/i_arrow_hover.png');
    /*background-color: #fff;*/
    /*color: #ff976e;*/
}


.button:hover {
    background-color: #fff;
    color: #ff976e;
    -webkit-transition: all 0.15s;
    transition: all 0.15s;
}

.j-icon-arrow {
    width: 18px;
    height: 12px;
    background: url('asset/i_arrow.png');
    margin-left: 4px;
    -webkit-transition: all 0.15s;
    transition: all 0.15s;
}

.j-thumbnail:hover .j-hover-title {
    opacity: 1;
}

.j-thumbnail:hover .j-hover-contents {
    opacity: 1;
}

.j-thumbnail:hover .button {
    opacity: 1;
}

.j-hover-box {
    background-color: rgba(255, 151, 110, 0.9);
    width: 100%;
    height: 100%;
    -webkit-transition: 0.8s;
    transition: 0.8s;
    -webkit-transform: scale(0.3);
    transform: scale(0.3);
    opacity: 0;
}

.j-thumbnail:hover .j-hover-box {
    opacity: 1;
    transform: scale(0.95, 0.9);
    -webkit-transform: scale(0.95, 0.9);
}

.j-flex {
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    /*width: 100%;*/
    height: 100%;
}

.j-info {
    color: #fff;
}

/*------------about-------------*/

.j-about-text {
    padding: 6%;
    box-sizing: border-box;
    text-align: center;
}

p.j-title {
    color: #636262;
    margin-bottom: 30px;
}

p.j-body {
    color: #636262;
}

p.j-title-korean {
    color: #636262;
}

.j-about-button {
    margin-top: 20px;
    display: inline-block;
    width: 230px;
    padding: 12px 0;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    border: 2px solid rgba(255,151,110,0.5);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    font-weight: 400;
    color: #ff976e;
    cursor: pointer;
}

.j-about-button:hover {
    background-color: #ff976e;
    color: #fff;
}

.j-about-button:hover .j-about-icon-arrow {
    margin-left: 12px;
    -webkit-transition: all 0.15s;
    transition: all 0.15s;
    background: url('asset/i_arrow.png');
    /*background-color: #fff;*/
    /*color: #ff976e;*/
}

.j-about-icon-arrow {
    width: 18px;
    height: 12px;
    background: url('asset/i_arrow_hover.png');
    margin-left: 4px;
    -webkit-transition: all 0.15s;
    transition: all 0.15s;
}


/*------------project------------*/

.j-project-text {
    padding: 0 6% 6% 6%;
    box-sizing: border-box;
    text-align: center;
}

.j-project-text a.j-icon-arrow-left {
    float: left;
}

.j-project-text>p.j-body {
    text-transform: none;
    line-height: 1.45em;
}

.j-project-text a.j-icon-arrow-right {
    float: right;
}

#j-project-02 .j-thumbnail:nth-child(1) {
    width: 100%;
}

#j-project-02 .j-thumbnail:nth-child(2) {
    width: 100%;
}

#j-project-02 .j-thumbnail:nth-child(3) {
    width: 100%;
}

#j-project-02 .j-thumbnail:nth-child(6) {
    width: 100%;
}

#j-project-03 .j-thumbnail {
    width: 100%;
}

#j-project-04 .j-thumbnail {
    width: 100%;
}

#j-blog-01 .j-thumbnail {
    width: 50%;
    margin-top: 4px;
    box-sizing: border-box;
}

#j-blog-01 .j-thumbnail:nth-child(3n) {
     width: 100%;
 }

#j-blog-01 .j-thumbnail:nth-child(3n+1) {
    padding-right: 2px;
}

#j-blog-01 .j-thumbnail:nth-child(3n+2) {
    padding-left: 2px;
}

#j-blog-02 .j-thumbnail {
    width: 50%;
    margin-top: 4px;
    box-sizing: border-box;
}

#j-blog-02 .j-thumbnail:nth-child(1) {
    width: 100%;
}

#j-blog-02 .j-thumbnail:nth-child(3n+1) {
    width: 100%;
}

#j-blog-02 .j-thumbnail:nth-child(3n+2) {
    padding-right: 2px;
}

#j-blog-02 .j-thumbnail:nth-child(3n) {
    padding-left: 2px;
}


.mobile {
    display: none;
}

.pc {
    display: block;
}

p.j-body-korean {
    margin: 34px 0 34px 0;
}

.j-link:hover {
    color: #ff976e;

}

/*------------footer------------*/

footer {
    display: inline-block;
    background-color: #666666;
    width: 100%;
    padding: 4%;
    box-sizing: border-box;
}

.j-contact,
.j-sns {
    float: left;
    margin-right: 70px;
}

.j-mail {
    margin-bottom: 6px;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

address {
    float: right;
}

.j-contact {
    font-weight: 400;
}

.j-contact-title {
    margin-bottom: 48px;
}

.j-sns .j-body {
    margin-right: 14px;
}

.j-mail:hover {
    opacity: 0.5;
}

.j-sns span {
    -webkit-transition: 0.1s;
    transition: 0.1s;
}

.j-sns span:hover {
    opacity: 0.5;
}


/*------------responsive------------*/

@media (min-width: 1600px) {
    .container {
        width: 70.35%;
    }
}

@media (max-width: 1600px) {
    .container {
        width: 100%;
    }
}

@media (max-width: 930px) {
    .j-contact,
    .j-sns,
    address {
        float: none;
    }

    .j-contact-title {
        margin-bottom: 36px;
    }

    .j-sns,
    address {
        margin-top: 20px;
    }

    .j-body-korean {
        font-size: 18px;
    }
}

@media (max-width: 640px) {

    /*------------font------------*/

    .j-title {
        font-size: 17px;
        line-height: 28px;
    }

    .j-body {
        font-size: 13px;
        line-height: 19px;
    }

    .j-body-korean {
        font-size: 16px;
    }

    /*------------header------------*/

    header {
        height: 140px;
        padding: 8%;
    }

    .j-menu {
        float: left;
        background-image: url('asset/j-menu_mobile.svg');
        width: 16px;
        height: 14px;
    }

    .j-logo {
        float: right;
        background-image: url('asset/j-logo_mobile.svg');
        width: 56px;
        height: 54px;
    }

    /*------------project thumbnail------------*/

    .j-thumbnail {
        width: 100%;
    }

    .j-thumbnail:hover .j-hover-box {
        opacity: 0;
    }

    .j-thumbnail:hover .j-hover-title {
        opacity: 0;
    }

    .j-thumbnail:hover .j-hover-contents {
        opacity: 0;
    }

    .j-thumbnail:hover .button {
        opacity: 0;
    }

    /*------------blog--------------*/


    #j-blog-01 .j-thumbnail {
        width: 100%;
    }

    #j-blog-02 .j-thumbnail {
        width: 100%;
    }


    #j-blog-01 .j-thumbnail:nth-child(3n+1) {
        padding-right: 0px;
    }

    #j-blog-01 .j-thumbnail:nth-child(3n+2) {
        padding-left: 0px;
    }

    #j-blog-02 .j-thumbnail:nth-child(3n+2) {
        padding-right: 0px;
    }

    #j-blog-02 .j-thumbnail:nth-child(3n) {
        padding-left: 0px;
    }


    /*------------footer------------*/

    footer {
        padding: 8%;
    }

    .j-contact,
    .j-sns {
        margin-right: 0px;
    }

    .j-contact-title {
        margin-bottom: 24px;
    }

    .j-contact,
    .j-sns,
    address {
        float: none;
    }

    footer .j-title {
        font-size: 16px;
        line-height: 25px;
    }

    footer .j-body {
        font-size: 11px;
    }


    /*------------about------------*/

    .j-about-text {
        padding: 14% 8%;
    }

    .j-about-button:hover .j-about-icon-arrow {
        width: 18px;
        height: 12px;
        background: url('asset/i_arrow_hover.png');
        margin-left: 4px;
    }

    .j-about-button:hover {
        background-color: transparent;
        border: 2px solid rgba(255,151,110,0.5);
        color: #ff976e;
    }

    /*------------project------------*/

    .j-project-text {
        padding: 0 8% 14% 8%;
    }

    .mobile {
        display: block;
    }

    .pc {
        display: none;
    }

    a.j-icon-arrow-left,
    a.j-icon-arrow-right {
        display: none;
    }

}