body {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    height: 100%;
    background-color: #f9f9f9;
    margin: 0;
    color: #fff;
}

body, html {
    height: 100%;
}

/*------normalize------*/

li {
    list-style: none;
}

address {
    font-style: normal;
}

a {
    color: inherit;
    text-decoration: none;
}

/*------center align------*/

.container {
    width: 60%;
    height: 100%;
    margin: 0 auto;
    background-color: #fff;
}

/*------font size------*/

.j-title {
    font-size: 19px;
}

.j-body {
    font-size: 14px;
}

/*------header------*/

header {
    height: 240px;
    padding: 40px;
    box-sizing: border-box;
}

.icon {
    display: inline-block;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.j-menu {
    float: left;
    background-image: url('asset/j-menu.svg');
    width: 24px;
    height: 20px;
}

.j-logo {
    float: right;
    background-image: url('asset/j-logo.svg');
    width: 86px;
    height: 84px;
}

/*------project------*/

section {
    width: 100%;
}

img {
    width: 100%;
    vertical-align: top;
}

ul.j-project {
    padding: 0;
    margin: 0;
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}

li.j-thumbnail {
    position: relative;
    width: 50%;
}

.j-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
}

.j-flex {
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    width: 100%;
    height: 100%;
}

.button {
    margin: 0 20px;
    padding: 20px 10px;
    border-radius: 10px;
    border: 2px solid #fff;
}

.j-info {
    color: #fff;
}

.j-hover-box {
    background-color: rgba(255, 151, 110, 0.9);
    width: 100%;
    height: 100%;
    transition: 0.5s;
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 0;
}

.j-thumbnail:hover .j-hover-box {
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
}

/*------footer------*/

footer {
    background-color: #666666;
    height: 214px;
    padding: 48px;
    box-sizing: border-box;
}

.j-contact,
.j-sns {
    float: left;
    margin-right: 70px;
}

.j-mail {
    margin-bottom: 6px;
}

address {
    float: right;
}

.j-contact-title {
    margin-bottom: 48px;
}

.j-sns .j-body {
    margin-right: 14px;
}

/*------responsive------*/

@media (min-width: 1600px) {
    .container {
        width: 60%;
    }
}

@media (max-width: 1600px) {
    .container {
        width: 100%;
    }
}

@media (max-width: 930px) {
    footer {
        height: 250px;
        padding: 36px;
    }

    .j-contact,
    .j-sns,
    address {
        float: none;
    }

    .j-contact-title {
        margin-bottom: 36px;
    }

    .j-sns,
    address {
        margin-top: 20px;
    }

}

@media (max-width: 640px) {
    header {
        height: 180px;
    }

    .j-title {
        font-size: 16px;
    }

    .j-body {
        font-size: 11px;
    }

    .j-menu {
        float: left;
        background-image: url('asset/j-menu_mobile.svg');
        width: 16px;
        height: 14px;
    }

    .j-logo {
        float: right;
        background-image: url('asset/j-logo_mobile.svg');
        width: 56px;
        height: 54px;
    }

    li.j-thumbnail {
        width: 100%;
    }

    footer {
        height: 218px;
        padding: 24px;
    }

    .j-contact,
    .j-sns,
    address {
        float: none;
    }


}