body {
    font-family: 'Lato', sans-serif, 'Nanum Gothic', serif;
    font-weight: 300;
    text-transform: uppercase;
    height: 100%;
    background-color: #f7f7f7;
    margin: 0;
    color: #fff;
    position: relative;
}

body, html {
    height: 100%;
}

.hidesScrollBar {
    overflow: hidden;
}

/*------------normalize------------*/

li {
    list-style: none;
}

address {
    font-style: normal;
}

a {
    color: inherit;
    text-decoration: none;
}

p {
    margin: 0;
}

/*------center align------*/

.container {
    height: 100%;
    margin: 0 auto;
    background-color: #fff;
}

/*------------font size------------*/

.j-title {
    font-size: 19px;
    line-height: 39px;
    font-weight: 400;
    letter-spacing: 1px;
}

.j-body {
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 1px;
}

.j-body-strong {
    font-weight: 400;
    letter-spacing: 1px;
}

.j-body-korean {
    font-size: 13px;
    line-height: 26px;
    color: #858585;
    font-family: 'Nanum Gothic', sans-serif;
    letter-spacing: 0;
}

/*------------side menu------------*/

.j-side-menu {
    z-index: 1;
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ff976e;
    opacity: 0.95;
}

.j-menues {
    line-height: 56px;
    font-size: 36px;
    margin-bottom: 30px;
}

.j-menu-sns {
    font-size: 20px;
    line-height: 38px;
}

.j-menu-project,
.j-menu-blog,
.j-menu-about {
    cursor: pointer;
}

.j-side-menu a {
    -webkit-transition: 0.2s;
    transition: 0.2s;
    display: block;
}


.j-side-menu a:hover {
    -webkit-transition: 0.2s;
    transition: 0.2s;
    transform: scale(1.1);
    display: block;
}

/*------------header------------*/

header {
    height: 240px;
    padding: 4%;
    box-sizing: border-box;
}

.icon {
    display: inline-block;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.j-menu {
    float: left;
    background-image: url('asset/j-menu.svg');
    width: 24px;
    height: 20px;
    cursor: pointer;
    position: relative;
    z-index: 2;
}

.j-menu.x {
    background-image: url('asset/j-menu_fff.svg');
}

.j-logo {
    float: right;
    background-image: url('asset/j-logo.svg');
    width: 86px;
    height: 84px;
}

/*------------project thumbnail------------*/

section {
    width: 100%;
    background-color: #fff;
}

img {
    width: 100%;
    vertical-align: top;
}

.j-project {
    padding: 0;
    margin: 0;
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}

.j-thumbnail {
    position: relative;
    width: 50%;
}

.j-about {
    position: relative;
    width: 100%;
}

.j-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
}

.j-hover-title {
    margin-bottom: 10px;
    opacity: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    font-weight: 400;
}

.j-hover-contents {
    margin-bottom: 20px;
    opacity: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.button {
    display: inline-block;
    width: 170px;
    padding: 9px;
    border-radius: 6px;
    border: 2px solid #fff;
    opacity: 0;
    -webkit-transition: 0.5s;
    transition: 0.5;
    font-weight: 400;
}

.button:hover {
    background-color: #fff;
    color: #ff976e;
}

.j-thumbnail:hover .j-hover-title {
    opacity: 1;
}

.j-thumbnail:hover .j-hover-contents {
    opacity: 1;
}

.j-thumbnail:hover .button {
    opacity: 1;
}


.j-hover-box {
    background-color: rgba(255, 151, 110, 0.9);
    width: 100%;
    height: 100%;
    -webkit-transition: 0.8s;
    transition: 0.8s;
    -webkit-transform: scale(0.3);
    transform: scale(0.3);
    opacity: 0;
}

.j-thumbnail:hover .j-hover-box {
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
}

.j-flex {
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    /*width: 100%;*/
    height: 100%;
}


.j-info {
    color: #fff;
}

/*------------about-------------*/

.j-about-text {
    padding: 4%;
    box-sizing: border-box;
    text-align: center;
}

p.j-title {
    color: #636262;
    margin-bottom: 20px;
}

p.j-body {
    color: #636262;
}

.j-about-button {
    margin-top: 30px;
    display: inline-block;
    width: 170px;
    padding: 9px;
    border-radius: 6px;
    border: 2px solid rgba(255,151,110,0.5);
    -webkit-transition: 0.5s;
    transition: 0.5;
    font-weight: 400;
    color: #ff976e;
    cursor: pointer;
}

.j-about-button:hover {
    background-color: #ff976e;
    color: #fff;
}

/*------------project------------*/

.j-project-text {
    padding: 0 4% 6% 4%;
    box-sizing: border-box;
    text-align: center;
}

#j-project-02 .j-thumbnail:nth-child(1) {
    width: 100%;
}

#j-project-02 .j-thumbnail:nth-child(2) {
    width: 100%;
}

#j-project-02 .j-thumbnail:nth-child(3) {
    width: 100%;
}

#j-project-02 .j-thumbnail:nth-child(6) {
    width: 100%;
}

#j-project-03 .j-thumbnail {
    width: 100%;
}

#j-project-04 .j-thumbnail {
    width: 100%;
}

.mobile {
    display: none;
}

.pc {
    display: block;
}

p.j-body-korean {
    margin-top: 16px;
}

p.j-body-strong {
    margin-top: 16px;
}

/*------------footer------------*/

footer {
    display: inline-block;
    background-color: #666666;
    width: 100%;
    padding: 4%;
    box-sizing: border-box;
}

.j-contact,
.j-sns {
    float: left;
    margin-right: 70px;
}

.j-mail {
    margin-bottom: 6px;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

address {
    float: right;
}

.j-contact {
    font-weight: 400;
}

.j-contact-title {
    margin-bottom: 48px;
}

.j-sns .j-body {
    margin-right: 14px;
}

.j-mail:hover {
    opacity: 0.5;
}

.j-sns span {
    -webkit-transition: 0.1s;
    transition: 0.1s;
}

.j-sns span:hover {
    opacity: 0.5;
}


/*------------responsive------------*/

@media (min-width: 1600px) {
    .container {
        width: 70.35%;
    }
}

@media (max-width: 1600px) {
    .container {
        width: 100%;
    }
}

@media (max-width: 930px) {
    .j-contact,
    .j-sns,
    address {
        float: none;
    }

    .j-contact-title {
        margin-bottom: 36px;
    }

    .j-sns,
    address {
        margin-top: 20px;
    }
}

@media (max-width: 640px) {

    /*------------font------------*/

    .j-title {
        font-size: 17px;
        line-height: 28px;
    }

    .j-body {
        font-size: 13px;
        line-height: 19px;
    }

    /*------------header------------*/

    header {
        height: 140px;
        padding: 8%;
    }

    .j-menu {
        float: left;
        background-image: url('asset/j-menu_mobile.svg');
        width: 16px;
        height: 14px;
    }

    .j-logo {
        float: right;
        background-image: url('asset/j-logo_mobile.svg');
        width: 56px;
        height: 54px;
    }

    /*------------project thumbnail------------*/

    .j-thumbnail {
        width: 100%;
    }

    .j-thumbnail:hover .j-hover-box {
        opacity: 0;
    }

    .j-thumbnail:hover .j-hover-title {
        opacity: 0;
    }

    .j-thumbnail:hover .j-hover-contents {
        opacity: 0;
    }

    .j-thumbnail:hover .button {
        opacity: 0;
    }

    /*------------footer------------*/

    footer {
        padding: 8%;
    }

    .j-contact,
    .j-sns {
        margin-right: 0px;
    }

    .j-contact-title {
        margin-bottom: 24px;
    }

    .j-contact,
    .j-sns,
    address {
        float: none;
    }

    footer .j-title {
        font-size: 16px;
        line-height: 25px;
    }

    footer .j-body {
        font-size: 11px;
    }


    /*------------about------------*/

    .j-about-text {
        padding: 14% 8%;
    }

    .j-about-button:hover {
        background-color: transparent;
        border: 2px solid rgba(255,151,110,0.5);
        color: #ff976e;
    }

    /*------------project------------*/

    .j-project-text {
        padding: 0 8% 14% 8%;
    }

    .mobile {
        display: block;
    }

    .pc {
        display: none;
    }

}