/* ==========================================================================
 * User: Jihye Lee
 * Date: 2013. 12.03.
 * Time: 오후 01:59
 ========================================================================== */

@import "reset-all.css";

html,
body {
    background-color: #ebebed;
}

/* 헤더와 푸터의 위치를 고정시키고 브라우저 넓이에 맞춤 */
header,
footer {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 2;
}

header {
    height: 70px;
    background-color: #ebebed;
    border-bottom: 1px solid rgba(0, 0, 0, 0.02);
}

header nav,
#content,
footer address {
    width: 81%;
    margin: 0 auto;
    height: inherit;
}

/* header */

header nav .vertical1 {
    position: relative;
    padding: 16px 0;
    height: 37px;
}

header nav .vertical1 i.logo {
    width: 128px;
    height: 37px;
    background-position: 0 0 ;
}

header nav .vertical1 .menu1 i.view {
    margin-top: 14px;
    width: 31px;
    height: 15px;
    background-position: -130px 0;
}

header nav .vertical1 .menu1 i.profile {
    margin-left: 5px;
    width: 16px;
    height: 20px;
    background-position: -163px 0;
}

/* content */

#content {
    /* 헤더와 푸터에 가리지 않게 패딩을 적용 */
    padding-top: 120px;
    padding-bottom: 85px;
}

#content .whitebox {
    width: 100%;
    background-color: #fff;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    border: 1px solid #e0e0e0;
    margin-bottom: 100px;
}

#content .whitebox label {
    text-align: left;
    height: 30px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    display: block;
    color: #fff;
    font-size: 9px;
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
}

#content .whitebox .wrap {
    padding: 9px;
}

#content .whitebox:nth-child(2) {
    margin-right: 0;
}

#content .whitebox label.web-label {
    background-color: #92ce6f;
}

#content .whitebox label.app-label {
    background-color: #fbbb4f;
}

#content .whitebox label.event-label {
    background-color: #f14985;
}

#content .whitebox label.social-label {
    background-color: #57a1d4;
}

#content .whitebox label.edi-label {
    background-color: #f48384;
}

#content .whitebox label.illu-label {
    background-color: #f69055;
}

#content .whitebox label.font-label {
    background-color: #a97ab7;
}

#content .whitebox label.animation-label {
    background-color: #6dcba3;
}

#content .whitebox label.web-label .wrap i.web-icon {
    margin-top: -1px;
    width: 16px;
    height: 14px;
    background-position: 0 -37px;
}

#content .whitebox label.app-label .wrap i.app-icon {
    margin-top: -1px;
    width: 9px;
    height: 14px;
    background-position: -18px -37px;
}

#content .whitebox label.event-label .wrap i.event-icon {
    margin-top: -2px;
    width: 13px;
    height: 15px;
    background-position: -29px -37px;
}

#content .whitebox label.illu-label .wrap i.illu-icon {
    margin-top: -2px;
    width: 18px;
    height: 15px;
    background-position: -44px -37px;
}

#content .whitebox label.edi-label .wrap i.edi-icon {
    width: 18px;
    height: 11px;
    background-position: -64px -37px;
}

#content .whitebox label.social-label .wrap i.social-icon {
    margin-top: -1px;
    width: 21px;
    height: 14px;
    background-position: -84px -37px;
}

#content .whitebox label.font-label .wrap i.font-icon {
    margin-top: -3px;
    width: 14px;
    height: 18px;
    background-position: -107px -37px;
}

#content .whitebox label.animation-label .wrap i.animation-icon {
    margin-top: -2px;
    width: 16px;
    height: 13px;
    background-position: -123px -44px;
}


#content .whitebox #padding {
    padding: 60px 50px;
}

#content .whitebox #padding #information h1 {
    font-size: 25px;
    font-weight: 700;
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    letter-spacing: -1px;
    margin-bottom: 18px;
    color: #afb0b1;
    text-align: center;
}

#content .whitebox #padding #information {
    width: 32%;
    margin-right: 5%;
}

#content .whitebox #padding #information #content-info {
    margin-bottom: 20px;
    color: #afb0b1;
    width: 100%;
    border-top: 1px solid #e4e6e8;
    border-bottom: 1px solid #e4e6e8;
    padding-top: 15px;
    padding-bottom: 10px;
}


#content .whitebox #padding #information #content-info h2 {
    width: 48%;
    text-align: right;
    font-size: 14px;
    font-family: "apple sd gothic neo";
    line-height: 28px;
    font-weight: 600;
    padding-right: 7%;
}

#content .whitebox #padding #information #content-info .infomation-content {
    width: 45%;
    text-align: left;
    font-size: 14px;
    font-family: "apple sd gothic neo";
    line-height: 28px;
    font-weight: 300;
}

#content .whitebox #padding #information #content-info #number .people {
    background-position: -46px -75px;
    width: 20px;
    height: 24px;
}

#content .whitebox #padding #information #content-info #program .ps {
    margin-top: 3px;
    background-position: 0 -54px;
    width: 20px;
    height: 20px;
}

#content .whitebox #padding #information #content-info #program .ai {
    background-position: -22px -54px;
    width: 20px;
    height: 20px;
}

#content .whitebox #padding #information #content-info #program .ws {
    background-position: -22px -75px;
    width: 22px;
    height: 19px;
}

#content .whitebox #padding #information #content-info #program .id {
    background-position: -44px -54px;
    width: 20px;
    height: 20px;
}

#content .whitebox #padding #information p,
#content .whitebox #padding #information a {
    font-size: 13px;
    font-family: "Apple SD Gothic Neo";
    letter-spacing: -0.03rem;
    color: #afb0b1;
    line-height: 22px;
    text-align: justify ;
}

#content .whitebox #padding #information a {
    font-weight: 600;
}

#content .whitebox #padding #information a:hover {
    text-decoration: underline;
}

#content .whitebox #padding #photo {
    width: 63%;
}

#content .whitebox #padding #photo img{
    width: 100%;
    height: auto;
}

#content .whitebox #padding #photo img {
    padding-bottom: 30px;
}

#content .whitebox #padding #photo img:last-child {
    padding-bottom: 0;
}

/* footer */

footer {
    height: 50px;
    bottom: 0;
    background-color: #afb0b1;
}

footer address .vertical2 {
    position: relative;
    padding: 15px 0;
    height: 20px;
}

footer address .vertical2 i.resume {
    width: 24px;
    height: 22px;
    background-position: -132px -16px;
}

footer address .vertical2 .menu2 {
    margin-left: 5px;
}

footer address .vertical2 span.copyright {
    color: #fff;
    font-size: 10px;
    margin-top: 3px;
}

footer address .vertical2 .menu2 {
    margin-top: 2px;
}

footer address .vertical2 .menu2 i.instagram {
    width: 15px;
    height: 16px;
    background-position: -141px -44px;
    margin-left: 15px;
}

footer address .vertical2 .menu2 i.facebook {
    width: 8px;
    height: 16px;
    background-position: -158px -44px;
    margin-left: 10px;
}

footer address .vertical2 .menu2 i.tumblr {
    width: 11px;
    height: 16px;
    background-position: -168px -44px;
    margin-left: 10px;
}

footer address .vertical2 .menu2 i.mail {
    width: 15px;
    height: 15px;
    background-position: -181px -44px;
    margin-left: 10px;
}

@media only screen and (max-width: 960px) {
    #content {
        padding-top: 92px;
    }
    #content .whitebox {
        margin-bottom: 75px;
    }

}

@media only screen and (max-width: 830px) {

    #content .whitebox #padding {
        padding: 50px 40px;
    }

    #content .whitebox #padding #information {
        width: 100%;
        margin-bottom: 25px;
    }

    #content .whitebox #padding #information h1 {
        text-align: center;
    }

    #content .whitebox #padding #photo {
        width: 100%;
}

}

@media only screen and (max-width: 396px) {
    #content .whitebox #padding #information #content-info h2 {
        width: 45%;
        padding-right: 5%;
    }

    #content .whitebox #padding #information #content-info .infomation-content {
        width: 50%;
    }

    #content .whitebox #padding {
        padding: 35px 25px;
    }

}

@media only screen and (max-width: 633px) {
    footer address .vertical2 span.copyright {
        display: none;
    }
}