/* ==========================================================================
 * User: Jihye Lee
 * Date: 2013. 12.03.
 * Time: 오후 01:59
 ========================================================================== */

@import "reset-all.css";

html,
body {
    background-color: #ebebed;
}

/* 헤더와 푸터의 위치를 고정시키고 브라우저 넓이에 맞춤 */
header,
footer {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 2;
}

header {
    height: 70px;
    background-color: #ebebed;
    border-bottom: 1px solid rgba(0, 0, 0, 0.02);
}

header nav,
#content,
footer address {
    width: 81%;
    margin: 0 auto;
    height: inherit;
}

/* header */

header nav .vertical1 {
    position: relative;
    padding: 16px 0;
    height: 37px;
}

header nav .vertical1 i.logo {
    width: 128px;
    height: 37px;
    background-position: 0 0 ;
}

header nav .vertical1 .menu1 i.view {
    margin-top: 14px;
    width: 31px;
    height: 15px;
    background-position: -130px 0;
}

header nav .vertical1 .menu1 i.profile {
    margin-left: 5px;
    width: 16px;
    height: 20px;
    background-position: -163px 0;
}

/* content */

#content {
    /* 헤더와 푸터에 가리지 않게 패딩을 적용 */
    padding-top: 130px;
    padding-bottom: 85px;
}

#content ul {
    text-align: center;
}

#content ul li {
    display: inline-block;
}

#content ul li .whitebox {
    width: 240px;
    height: 198px;
    background-color: #fff;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    border: 1px solid #e0e0e0;
    margin: 14px 6px;
}

#content ul li .whitebox label {
    text-align: left;
    height: 30px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    display: block;
    color: #fff;
    font-size: 9px;
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
}

#content ul li .whitebox .wrap {
    padding: 9px;
}

#content ul li .whitebox:nth-child(2) {
    margin-right: 0;
}

#content ul li .whitebox label.web-label {
    background-color: #92ce6f;
}

#content ul li .whitebox label.app-label {
    background-color: #57a1d4;
}

#content ul li .whitebox label.event-label {
    background-color: #fbbb4f;
}

#content ul li .whitebox label.illu-label {
    background-color: #f14985;
}

#content ul li .whitebox label.edi-label {
    background-color: #a97ab7;
}

#content ul li .whitebox label.social-label {
    background-color: #f69055;
}

#content ul li .whitebox label.font-label {
    background-color: #6dcba3;
}

#content ul li .whitebox label.animation-label {
    background-color: #f48384;
}

#content ul li .whitebox label.web-label .wrap i.web-icon {
    margin-top: -1px;
    width: 16px;
    height: 14px;
    background-position: 0 -37px;
}

#content ul li .whitebox label.app-label .wrap i.app-icon {
    margin-top: -1px;
    width: 9px;
    height: 14px;
    background-position: -18px -37px;
}

#content ul li .whitebox label.event-label .wrap i.event-icon {
    width: 13px;
    height: 15px;
    background-position: -29px -37px;
}

#content ul li .whitebox label.illu-label .wrap i.illu-icon {
    width: 18px;
    height: 15px;
    background-position: -44px -37px;
}

#content ul li .whitebox label.edi-label .wrap i.edi-icon {
    width: 18px;
    height: 11px;
    background-position: -64px -37px;
}

#content ul li .whitebox label.social-label .wrap i.social-icon {
    margin-top: -1px;
    width: 21px;
    height: 14px;
    background-position: -84px -37px;
}

#content ul li .whitebox label.font-label .wrap i.font-icon {
    width: 14px;
    height: 18px;
    background-position: -107px -37px;
}

#content ul li .whitebox label.animation-label .wrap i.animation-icon {
    width: 16px;
    height: 13px;
    background-position: -123px -44px;
}


/* footer */

footer {
    height: 50px;
    bottom: 0;
    background-color: #afb0b1;
}

footer address .vertical2 {
    position: relative;
    padding: 15px 0;
    height: 20px;
}

footer address .vertical2 i.resume {
    width: 24px;
    height: 22px;
    background-position: -132px -16px;
}

footer address .vertical2 .menu2 {
    margin-left: 5px;
}

footer address .vertical2 span.copyright {
    color: #fff;
    font-size: 10px;
    margin-top: 3px;
}

footer address .vertical2 .menu2 {
    margin-top: 2px;
}

footer address .vertical2 .menu2 i.instagram {
    width: 15px;
    height: 16px;
    background-position: -141px -44px;
    margin-left: 15px;
}

footer address .vertical2 .menu2 i.facebook {
    width: 8px;
    height: 16px;
    background-position: -158px -44px;
    margin-left: 10px;
}

footer address .vertical2 .menu2 i.tumblr {
    width: 11px;
    height: 16px;
    background-position: -168px -44px;
    margin-left: 10px;
}

footer address .vertical2 .menu2 i.mail {
    width: 15px;
    height: 15px;
    background-position: -181px -44px;
    margin-left: 10px;
}

@media only screen and (max-width: 960px) {
    #content {
        padding-top: 92px;
        padding-bottom: 85px;
    }

}

@media only screen and (max-width: 633px) {
    footer address .vertical2 span.copyright {
        display: none;
    }

    #content ul li .whitebox {
        margin-right: 0px;
        margin-left: 0px;
    }

}
