
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

html,
body,
a {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clearfix:before,
.clearfix:after {
    content: '.';
    display: block;
    overflow: hidden;
    visibility: hidden;
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}

.icon {
    display: inline-block;
    position: relative;
    background-color: transparent;
    background-repeat: no-repeat;
    background-image: url('../../sprite.png');
    background-size: 196px 104px;
}

button {
    border: 0;
    outline: none;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

i {
    outline: none;
}

header nav .vertical1 i.logo:hover,
header nav .vertical1 i.view:hover,
header nav .vertical1 i.profile:hover,
footer address .vertical2 i.resume:hover,
footer address .vertical2 .menu2 i.instagram:hover,
footer address .vertical2 .menu2 i.facebook:hover,
footer address .vertical2 .menu2 i.tumblr:hover,
footer address .vertical2 .menu2 i.mail:hover {
    opacity: .7;
}