/* ==========================================================================
   Grid definitions
   ========================================================================== */

.container {
	width: 1180px;
	margin-left: auto;
	margin-right: auto;
}

/* ==========================================================================
   Floated definitions
   ========================================================================== */

.left {
	float: left;
}

.right {
	float: right;
}

/* http://sonspring.com/journal/clearing-floats */
.clear {
	width: 0;
	height: 0;
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
}

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */

.clearfix:before,
.clearfix:after,
.container:before,
.container:after {
	content: '.';
	display: block;
	overflow: hidden;
	visibility: hidden;
	font-size: 0;
	line-height: 0;
	width: 0;
	height: 0;
}

.clearfix:after,
.container:after {
	clear: both;
}

/*
  The following zoom:1 rule is specifically for IE6 + IE7.
  Move to separate stylesheet if invalid CSS is a problem.
*/

.clearfix,
.container {
	zoom: 1;
}

/* ==========================================================================
   Display definitions
   ========================================================================== */

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
div,
menu,
button,
textarea {
	margin: 0;
	padding: 0;
	list-style: none;
	outline-style: none;
}

a {
	text-decoration: none;
}

button {
	border: 0;
	background: transparent;
}

header {
	border-bottom: 1px solid rgba(0, 0, 0, .19);
}

header h1 {
	margin: 84px 0 20px 0;
}

header h1 #logo {
	width: 200px;
	height: 57px;
	display: inline-block;
	background: url('logo.png') top;
}

header h1 #logo:hover {
	background: url('logo.png') bottom;
}

header nav {
	margin: 102px 0 30px 0;
}

header nav .main {
	margin-top: 11px;
}

header nav .main span {
	margin: 0 15px;
}

header nav .main span,
header nav .main a {
	color: #a0a1a1;
	font-size: 14px;
	letter-spacing: -1px;
}

header nav .main a:hover {
	color: #c5c6c7;
}

header nav .social a {
	width: 39px;
	height: 38px;
	display: inline-block;
	margin-left: 13px;
}

header nav .social #facebook {
	margin-left: 37px;
	background: url('icons_social.png') left top;
}

header nav .social #facebook:hover {
	background: url('icons_social.png') left bottom;
}

header nav .social #twitter {
	background: url('icons_social.png') -39px top;
}

header nav .social #twitter:hover {
	background: url('icons_social.png') -39px bottom;
}

header nav .social #email {
	background: url('icons_social.png') right top;
}

header nav .social #email:hover {
	background: url('icons_social.png') right bottom;
}

section {
	margin: 120px 0;
}

#pictures ul {
	margin-right: 30px;
}

#pictures ul:nth-child(4) {
	margin-right: 0;
}

#pictures ul li {
	cursor: pointer;
	margin-bottom: 30px;
}

#pictures ul li img {
	opacity: 1;
}

#pictures ul li img:hover {
	opacity: .8;
}

/* ==========================================================================
   Number definitions
   ========================================================================== */

footer {
	padding: 30px 0;
	border-top: 1px solid rgba(0, 0, 0, .19);
}

footer address {
	color: #c5c6c7;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
}

section #map {
	width: 1180px;
	height: 733px;
	position: relative;
	background: url("map.png");
}

#detail {
	display: none;
}

#detail #ticket {
	top: 50%;
	left: 50%;
	width: 342px;
	height: 342px;
	position: fixed;
	margin: -171px 0 0 -171px;
	z-index: 2;
}

#detail #frame {
	top: 50%;
	left: 50%;
	position: fixed;
	margin: -223px 0 0 -338px;
	border-radius: 27px;
	border: 27px solid #ededed;
	z-index: 2;
}

#detail #frame img {
	width: 676px;
	height: 446px;
}

#detail #pause {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: fixed;
	background-color: black;
	opacity: .4;
	z-index: 1;
	cursor: -webkit-zoom-in;
	cursor: -moz-zoom-in;
}

.number {
	position: absolute;
	width: 21px;
	height: 28px;
	background: url('number.png') no-repeat;
}

.number:hover {
	background-image: url('number_.png');
}

.number.ham1 {
	top: 165px;
	left: 115px;
	background-position: 0 0;
}

.number.ham2 {
	top: 202px;
	left: 13px;
	background-position: -21px 0;
}

.number.japan1 {
	top: 221px;
	left: 86px;
	background-position: 0 -28px;
}

.number.japan2 {
	top: 252px;
	left: 63px;
	background-position: -21px -28px;
}

.number.japan3 {
	top: 260px;
	left: 40px;
	background-position: -42px -28px;
}

.number.cafe1 {
	top: 583px;
	left: 914px;
	background-position: 0 -56px;
}

.number.cafe2 {
	top: 252px;
	left: 63px;
	background-position: -21px -56px;
}

.number.cafe3 {
	top: 229px;
	left: 121px;
	background-position: -42px -56px;
}

.number.cafe4 {
	top: 205px;
	left: 69px;
	background-position: -63px -56px;
}

.number.cafe5 {
	top: 211px;
	left: 51px;
	background-position: -84px -56px;
}

.number.cafe6 {
	top: 145px;
	left: 51px;
	background-position: -105px -56px;
}

.number.chinese1 {
	top: 193px;
	left: 117px;
	background-position: 0 -84px;
}

.number.chinese2 {
	top: 555px;
	left: 908px;
	background-position: -21px -84px;
}

.number.pasta1 {
	top: 200px;
	left: 99px;
	background-position: 0 -112px;
}

.number.dduk1 {
	top: 267px;
	left: 94px;
	background-position: 0 -140px;
}

.number.dduk2 {
	top: 435px;
	left: 521px;
	background-position: -21px -140px;
}

.number.alcohol1 {
	top: 371px;
	left: 971px;
	background-position: 0 -168px;
}

.number.alcohol2 {
	top: 577px;
	left: 898px;
	background-position: -21px -168px;
}

.number.chicken1 {
	top: 375px;
	left: 800px;
	background-position: 0 -196px;
}

.number.chicken2 {
	top: 359px;
	left: 741px;
	background-position: -21px -196px;
}

.number.chicken3 {
	top: 366px;
	left: 952px;
	background-position: -42px -196px;
}